@using Microsoft.AspNetCore.Components.Web

<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(MauiProgram).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData"
                           DefaultLayout="@typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Router>
    </ChildContent>

    <ErrorContent Context="ex">
        <div class="alert alert-danger m-4">
            <h5>Unhandled error</h5>
            <p>@ex.Message</p>
            <pre style="white-space:pre-wrap;font-size:0.8rem;">
@ex
            </pre>
        </div>
    </ErrorContent>
</ErrorBoundary>